<div class="col col-3">
    <div class="card"><img src="{{ asset("Photos/"~nomDuDossier~"/"~f.filename) }}" alt=""
                           class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">{{ f.filename }}</h2>
        </div>
    </div>
</div>