{% extends 'base.html.twig' %}

{% block title %}Gestion des chatons{% endblock %}


{% block body %}
    <div class="container">
        <h1>Dossier {{ nomDuDossier }}</h1>
    </div>
{% endblock %}
